langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
pymupdf
langchain-text-splitters
pandas
openpyxl
langchain-ollama
sentence-transformers
langchain-huggingface
streamlit
unstructured[local-inference]
pdfminer.six
pytesseract
img2pdf
pdf2image
asyncio
fastapi
uvicorn
langserve
sse_starlette
pydantic
trafilatura
docx2txt
pyngrok
localstack
langgraph
boto3
#fasttext
pinecone
langdetect
PyPDF2
langchain-openai
langchain-aws